@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&display=swap");
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway/Raleway-Regular.woff);
  src: url(../assets/fonts/Raleway/Raleway-Bold.woff);
  src: url(../assets/fonts/Raleway/Raleway-ThinItalic.woff);
  src: url(../assets/fonts/Raleway/Raleway-Regular.ttf) format("truetype");
  src: url(../assets/fonts/Raleway/Raleway-Bold.ttf) format("truetype");
  src: url(../assets/fonts/Raleway/Raleway-ThinItalic.ttf) format("truetype");
}

.container {
    background-color: #782221;
    border-right-style: solid;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.75fr 0.2fr 1.5fr 1fr 0.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "contact contact contact"
      "sidebar content content"
      "sidebar content content"
      "sidebar footer .";
    box-sizing: content-box;
    width: 100%;
  }
  
  .header {
    grid-area: header;
    grid-column: 1 / span -6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header__personal {
    width: 150px;
    height: 150px;
  }
  
  .header__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #dbc2a4;
    padding-right: 0px;
  }
 
  .header__photo:hover {
    cursor: zoom-in;
  }
  
  .header h1 {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
  
  .header h2 {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    text-align: center;
  }
  
  .contact {
    grid-area: contact;
    background-color: #2c1d27;
  }
  
  .contact__info {
    list-style-type: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    padding-right: 40px;
  }
  
  .contact__email {
    padding-right: 70px;
  }
  
  .contact__email:link,
  .contact__phone:link,
  .contact__address:link,
  .contact__email:visited 
  .contact__phone:visited,
  .contact__address:visited{
    text-decoration: none;
    color: white;
  }
  
  .contact__email:hover,
  .contact__phone:hover,
  .contact__address:hover{
    text-decoration: underline;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .sidebar__intro {
    color: white;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    text-indent: 15%;
    padding-left: 25px;
    word-spacing: 15px;
    margin: 0px 50px 40px 0px;
  }
  
  .sidebar__list {
    color: white;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    margin-bottom: 40px;
  }
  
  .sidebar__heading {
    background-color: #dbc2a4;
    padding: 5px 0px 5px 25px;
    margin: 15px 50px 10px 0px;
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    color: #000;
  }
  
  .content {
    grid-area: content;
    background-color: white;
    box-sizing: content-box;
  }
  

.content__heading {
  background-color: #dbc2a4;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  padding: 5px 0px 5px 5px;
  margin: 14px 20px 20px 30px;
  border-left: 0.5em solid #782221;
}

.content h5 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  margin-left: 30px;
}

.content p {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin-left: 30px;
}

.content li {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin-left: 35px;
}

.content__subheading {
  margin-top: 0px;
}

.content__lastMission {
  margin-bottom: 40px;
}

.content__lastSchool {
  margin-bottom: 50px;
}

.content__competence {
  margin-top: 0px;
}

.content__experience:hover {
    border-right: 10px solid #782221; 
    padding-right: 10px; 
    margin-right: 10px;
}

  .footer {
    grid-area: footer;
  }